/.quarto/
/*/.jupyter_cache/
/*/__pycache__
/_site/
/_freeze/
_quarto_internal_scss_error.scss
.DS_Store
*/.DS_Store
.web/
/general/header.html
_repo-md
solutions-tutorials/tut_06
solutions-tutorials/tut_07
solutions-tutorials/tut_08
solutions-tutorials/tut_09
**/*.quarto_ipynb
CLAUDE.md
