[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"
matplotlib = "*"
pygame = "*"
dash = "*"
nicegui = "*"
yfinance = "*"
bokeh = "*"
streamlit = "*"
pyside6 = "*"
seaborn = "*"
networkx = "*"
plotly = "*"
joypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
