/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
$presentation-title-slide-text-align: left;

// fonts
$font-family-sans-serif: "Roboto", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #191717 !default;
$link-color: #a60000 !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #1a1b1b !default;
$presentation-line-height: 1.3 !default;
$presentation-heading-line-height: 1.3 !default;


/*-- scss:rules --*/

.question {
  color: #AD5769;
  font-weight: bold;
}

.task {
  color: #4d6749;
  font-weight: bold;
}

.highlight {
  color: #579dad;
  font-weight: bold;
}

.errors {
  color: #e3a14a;
  font-weight: bold;
}

.picture {
  margin: auto;
  padding: 10pt;
  width: auto;
}

.white {
  color: #ffffff;
}


