@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*-- scss:defaults --*/
$presentation-font-size-root: 34px;
$presentation-title-slide-text-align: left;

// fonts
$font-family-sans-serif: "Roboto", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #191717 !default;
$link-color: #a60000 !default;
$selection-bg: #008394 !default;
$selection-color: #140076  !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #1a1b1b !default;
$presentation-line-height: 1.5 !default;
$presentation-heading-line-height: 1.5 !default;


/*-- scss:rules --*/

.picture {
  margin: auto;
  padding: 10pt;
  width: auto;
}

.reveal a {
  line-height: 1.8em;
}

code.sourceCode > span {
  color: $body-bg !important;
}

$code-block-font-size: 1em;

.cell-output {
  border: 1px solid $body-color;
  border-radius: 4px;
}

.footer {
  font-size: 40% !important;
}

.flow {
  background-image: url(https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
	animation: animate 40s linear infinite;
	font-weight: 900;
}

@keyframes animate {
	0% {
		background-position: left 700px top 100px;
	}
	40% {
		background-position: left 700px top 500px;
	}
}